.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-item {
  opacity: 0.9;
  padding: 5px;
  width:175px;
  margin-top: 10px;
	align-self: stretch;
	& > .panel {
		min-height: 200px;
		max-height: 200px;
		overflow-y: hidden;
		margin-top: 5px;
	}
}

.flex-container-sc {
  padding: 0;
  margin: 0;
  list-style:armenian;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item-sc {
  padding: 1px;
	align-self: stretch;
}

.h-center {
	text-align: center;
}

.v-center {
	vertical-align: middle;
}

body {
	margin-top: 55px;
  background-image: url(http://bgfons.com/upload/wood%20_texture553.jpg);
}

.login_box {

}

.c_p {
	cursor: pointer;
}

.left {
  display: inline-flex;
}

.float_right {
  float: right;
  display: inline-flex;
}

.link-container {
}

.link-body {
  border-bottom-style: groove;
}

.link-arrow {
  float: left;
  margin-top: 0px;
  margin-right: 22px;
  background-color: #95a5a6;
  border-style: inset;
  border-radius: 25%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.link-h2 {
  margin: 4px;
  font-weight: bold;
}

.cap {
  text-transform: capitalize;
}

#inputSmall {
  width: 60%;
  margin-top: 4px;
}

.m-bot {
  margin-bottom: 0px;
}

@media (min-width: 500px) {
  #desc {
    width: 60%;
  }
}

@media (max-width: 400px) {
  #desc {
    width: 100%;
  }
}

.btn_beer {
  margin-right: 5px;
}

i {
  font-family: 'Permanent Marker', cursive;
  color: #7f8c8d
}

.font_beer {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
}

.m-bot-5 {
  margin-bottom: 5px;
  border: 2px;
  border-style: outset;
  border-color: #1F2224;
}

.mainbtn {
  width: 49%;
  background-color: #3B2819;
  color: #FFFFFF
}

.m-top-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  opacity: 0.825;
}

.stylebox {
  background-color: #020202;
  opacity: 0.825;
}

.active {
  background-color: #25292B;
  color: #25292B;
}

.panel-title {
  opacity: 1;
}
